*.lst
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.gz(busy)
*.fls
*.fdb_latexmk
.logged
*.end
*.br
*.bak
.DS_Store
/diss.pdf
/diss_letter.pdf
/diss_web_a4.pdf
/diss_web_letter.pdf
/arxiv.tgz
/diss_letter
/diss_web_a4
/diss_web_letter
/chapters/*/diss.cls
/chapters/*/matplotlibrc
/chapters/*/mymacros.sty
/chapters/labels.lst
/chapters/bibkeys.lst
/dist
/venv
/chapters/3states/ryd3_diss_popdyn.pdf
/chapters/3states/ryd3_diss_pulses.pdf
/chapters/3states/ryd3_favg.pdf
/chapters/3states/ryd3_levels.pdf
/chapters/3states/ryd3_nodiss_popdyn.pdf
/chapters/3states/ryd3_nodiss_pulses.pdf
/chapters/3states/tm3_fulldiss_favg.pdf
/chapters/3states/tm3_fulldiss_popdyn01.pdf
/chapters/3states/tm3_fulldiss_popdyn11.pdf
/chapters/3states/tm3_fulldiss_pulses.pdf
/chapters/3states/tm3_weakdiss_favg.pdf
/chapters/robust/RydRobust_1q_levels.pdf
/chapters/robust/blackman_seq_pulses.pdf
/chapters/robust/jaksch_zoller_pop_phase.pdf
/chapters/robust/mixed_pulses.pdf
/chapters/robust/robust_oct_pop.pdf
/chapters/robust/robust_oct_pop100.pdf
/chapters/robust/robust_oct_pulses.pdf
/chapters/robust/robust_oct_pulses100.pdf
/chapters/robust/robustness.pdf
/chapters/robust/robustness_oct.pdf
/chapters/robust/rydberg_qsl.pdf
/chapters/robust/stirap_blockade.pdf
/chapters/robust/stirap_pulses.pdf
/chapters/intro/placeholder.pdf
/chapters/numerics/krotovscheme.pdf
/chapters/pe/controllability.pdf
/chapters/pe/fpe_topology.pdf
/chapters/pe/tm_conv_LI.pdf
/chapters/pe/tm_conv_favg.pdf
/chapters/pe/weyl_paths.pdf
/chapters/quantum/blochsphere.pdf
/chapters/quantum/dynmap.pdf
/chapters/quantum/fouriercircuit.pdf
/chapters/quantum/weylchamber.pdf
/chapters/transmon/jj.pdf
/chapters/transmon/rip_entanglement.pdf
/chapters/transmon/CPH_spectra.pdf
/chapters/transmon/charge_dispersion.pdf
/chapters/transmon/gate_error.pdf
/chapters/transmon/tm2013_spectra.pdf
/chapters/transmon/transmon2013_gate_error_cnot.pdf
/chapters/transmon/transmon2013_gate_error_cphase.pdf
/chapters/transmon/transmon_photo_overlay.pdf
/chapters/transmon/adiabatic_popdyn.pdf
/chapters/transmon/holonomic_entanglement.pdf
/chapters/transmon/hol_oct_120left_popdyn.pdf
/chapters/transmon/hol_oct_spectra.pdf
/chapters/transmon/hol_oct_success.pdf
