*.aux
*.blg
*.out
*.gz(busy)
*.toc
*.log
*.fls
*.fdb_latexmk
*.bbl
.logged
*.end
*.bbl
*.br
*.bak
*.lof
.DS_Store
diss.pdf
/chapters/*/diss.cls
/chapters/*/matplotlibrc
/chapters/*/mymacros.sty
/dist
/venv
/chapters/3states/ryd3_diss_popdyn.pdf
/chapters/3states/ryd3_diss_pulses.pdf
/chapters/3states/ryd3_favg.pdf
/chapters/3states/ryd3_levels.pdf
/chapters/3states/ryd3_nodiss_popdyn.pdf
/chapters/3states/ryd3_nodiss_pulses.pdf
/chapters/3states/tm3_fulldiss_favg.pdf
/chapters/3states/tm3_fulldiss_popdyn01.pdf
/chapters/3states/tm3_fulldiss_popdyn11.pdf
/chapters/3states/tm3_fulldiss_pulses.pdf
/chapters/3states/tm3_weakdiss_favg.pdf
/chapters/robust/RydRobust_1q_levels.pdf
/chapters/robust/blackman_seq_pulses.pdf
/chapters/robust/jaksch_zoller_pop_phase.pdf
/chapters/robust/mixed_pulses.pdf
/chapters/robust/robust_oct_pop.pdf
/chapters/robust/robust_oct_pop100.pdf
/chapters/robust/robust_oct_pulses.pdf
/chapters/robust/robust_oct_pulses100.pdf
/chapters/robust/robustness.pdf
/chapters/robust/robustness_oct.pdf
/chapters/robust/rydberg_qsl.pdf
/chapters/robust/stirap_blockade.pdf
/chapters/robust/stirap_pulses.pdf
/chapters/intro/placeholder.pdf
