*.aux
*.blg
*.out
*.gz(busy)
*.toc
*.log
*.fls
*.fdb_latexmk
*.bbl
.logged
*.end
*.bbl
*.br
*.bak
*.lof
.DS_Store
diss.pdf
/figures/*
/chapters/*/diss.cls
/chapters/*/mymacros.sty
/chapters/*/packages/
/dist
/venv
